$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #cccccc;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* MD CUSTOM */
.user-card {
    background: #ffffff;
    border: 3px solid #000;
    padding: 10px 0;
    border-radius: 20px;
    margin-bottom: 20px;
}

.profile {
    width: 100%;

    img.avatar {
        border-radius: 50%;
        border: 1px solid #393939;
        display: inline-block;
        width: 80px; height: 80px;
    }

    span.no-avatar {
        display: inline-block;
        width: 80px;
        height: 80px;
        background: #38B7F2;
        border-radius: 50%;
        padding: 10px 0 0 27px;
        font-size: 4rem;
        color: #ffffff;
    }

    h4 {
        margin: 0 0 0 6px;
        font-size: 22px;
        display: inline-block;
        padding-top: 10px;
    }

    h5 {
        margin: 0 0 0 16px;
        color: #666666;
        display: inline-block;
    }

}
.stats {
    margin-top: 80px;

    .chart {
        .flot-chart {
            width: 209px;
            height: 100px;
        }
    }

    .vals {
        
        p {
            color: #cccccc;
            font-size: 12px;
            line-height: 12px;
            text-align: right;
        }

        .impressions {
            font-size: 16px;
            color: #e67e22;
            font-weight: bold;
        }
        .conversions {
            font-size: 16px;
            color: #2980b9;
            font-weight: bold;
        }
        .revenue {
            font-size: 22px;
            color: #27ae60;
            line-height: 22px;
            font-weight: bold;
        }
    }

}

/* MD END */

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
