div(ng-include='\'partials/navbar\'')

//- .jumbotron
//-   h1
//-     | 'Allo, 'Allo!

//-   p.lead
//-     <img src="images/yeoman.png" alt="I'm Yeoman">
//-     br
//-     | Always a pleasure scaffolding your apps.
//-   p
//-     a.btn.btn-lg.btn-success(ng-href='#') Splendid!

.row.marketing
  div.col-sm-6(ng-repeat='user in userStats')
    div.profile
      img.avatar(src='{{user.avatar}}')
      h4 {{user.name}}
      p {{user.occupation}}
    div.stats
      p {{user.impressions}}
      p {{user.conversions}}
      p {{user.revenue}}

.footer
  p ♥ from the Yeoman team