div(ng-include='\'partials/navbar\'')

//- use app directive to include partial user-card template
.row-fluid
  .col-sm-6(user-cards ng-repeat='user in userStats')

.clearfix

.footer
  p Made with ♥ by
    a(href="http://github.com/mdressman" target="_blank") Matthew Dressman