.user-card
  .profile.row-fluid
      .col-sm-3
        img.avatar(src='{{user.avatar}}' ng-hide="user.avatar == ''")
        span.no-avatar(ng-hide="user.avatar != ''") {{user.name.charAt(0)}}
      .col-sm-9
        h4 {{user.name}}
        h5 {{user.occupation}}
  .stats.row-fluid
    .chart.col-sm-8
      div(class='flot-chart' id='flot-{{user.id}}' ng-bind-html='showChart(user)')
      .chart-label Conversions {{user.dates[0].substr(5,5)}} - {{user.dates[user.dates.length-1].substr(5,5)}}
    .vals.col-sm-4
      p
        span.impressions {{user.impressions}}
        br
        | impressions
      p
        span.conversions {{user.conversions}}
        br
        | conversions
      p.revenue {{user.revenue}}

  .clearfix